<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="autosalon"
         connectionString="Data Source=WIN-Q3HBJ1BJDBQ\SQLEXPRESS;Initial Catalog=autosalon;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="HeadEmail" value="head@autosalon.local" />
    <add key="HeadPassword" value="Head123!" />
    <add key="ManagerEmail" value="manager@autosalon.local" />
    <add key="ManagerPassword" value="Manager123!" />
    <add key="StockEmail" value="stock@autosalon.local" />
    <add key="StockPassword" value="Stock123!" />
    <add key="ServiceEmail" value="service@autosalon.local" />
    <add key="ServicePassword" value="Service123!" />
    <add key="AdminEmail" value="admin@autosalon.local" />
    <add key="AdminPassword" value="Admin123!" />
  </appSettings>
</configuration>
